<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>AnimeMaker</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  {{!-- <link rel="shortcut icon" href="/assets/img/favicon.png"/> --}}
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">MyAnimeList Lite</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" id="loginButton" href="/login">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Browse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="signupButton" href="/signup">Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="changePassButton" href="/changePass">Change Password</a>
      </li>
    </ul>
  </div>
</nav>

  <section id="content"></section>
  <script src="/assets/loginBundle.js"></script>
</body>
</html>